/* General Styles for Range Input */
input[type="range"] {
  cursor: pointer;
  accent-color: #182445;
  background-color: #a1c0f2;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  border: 0;
  border-radius: 50%;
}

/* Thumb Styles for Range Input */
input[type="range"]::-webkit-slider-thumb {
  margin-top: -6px; /* Centers thumb on the track */
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

/* Number Input Styles */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  color: #070910;
  background-color: #fdfdfd;
  border: 2px solid #535965;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  font-size: medium;
  font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"]:focus,
input[type="number"]:active {
  border-style: ridge;
}

/* Slider Input Container */

/* Constants Container */
.constants {
  display: flex;
  justify-content: space-between;
}

#minValue,
#maxValue {
  color: #404041;
  font-size: medium;
}

/* Input Component */
.inputComp {
  margin-top: 4%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  gap: 0 10%;
  align-items: center;
}

#numerical {
  width: 70%;
  padding: 0 4px;
  height: 38px;
}

/* Input Unit Container */
.inputUnit {
  display: grid;
  grid-template-rows: 0.3fr 0.1fr 1fr;
  gap: 0;
}

.title {
  text-align: left;
  grid-area: 1 / 1 / 2 / 3;
  margin: 0;
  font-weight: 500;
}

.description {
  grid-area: 2 / 1 / 3 / 3;
  margin: 0;
  font-size: medium;
  text-align: left;
}

.inputComp {
  grid-area: 3 / 1 / 4 / 3;
}
