@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.faqHeading {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 19px;
  transition: text-indent 0.2s;
  text-indent: 20px;
  color: #eeeeee;
}

.faqText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #d0cccc;
  width: 90%;
  padding-left: 20px;
  margin-bottom: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), padding 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), margin-bottom 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq {
  width: 92%;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
  border: 0.7px solid #E1E1E1;
  cursor: pointer;
}

.faq label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1px 20px;
  border-bottom: 0.8px solid #E1E1E1;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faqArrow {
  width: 5px;
  height: 5px;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(239, 236, 236, 0.33);
  border-right: 2px solid rgba(232, 236, 230, 0.53);
  float: right;
  position: relative;
  top: -35px;
  right: 27px;
  transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faqArrow {
  transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked + label .faqText {
  max-height: 400px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.faq input[type="checkbox"]:not(:checked) + label .faqText {
  max-height: 0;
  padding-left: 20px;
  margin-bottom: 0;
}

.faq input[type="checkbox"]:not(:checked) + label {
  min-height: 50px;
} 

@media only screen and (max-width: 425px) {
  .faq{
    width: 100%;
  }
}

/* 
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=OpenSans);

.faqHeading {
  font-family: 'Lato', sans-serif;   
  font-weight: 400;
  font-size: 19px;
  transition: text-indent 0.2s;
  text-indent: 20px;
  color: #eeeeee;
}

.faqText {
  font-family: 'Open Sans', sans-serif;   
  font-weight: 400;
  color: #d0cccc;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 30px;


  max-height: 10px;
  overflow: hidden;
  transition: max-height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.faq {
  width: 92%;
height: fit-content;
  
  margin: 0 auto;
  border-radius: 4px;
  position: relative;
  border: 1px solid #E1E1E1;
}

.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-top: 1px;

  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faqArrow {
  width: 5px;
  height: 5px;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(232, 230, 230, 0.33);
  border-right: 2px solid rgba(232, 230, 230, 0.33);
  float: right;
  position: relative;
  top: -40px;
  right: 27px;
  transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faqArrow {
  transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked + label {
  display: block;

  color: #4f7351;
  height: 225px;
  transition: height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.faq input[type="checkbox"]:not(:checked) + label {
  display: block;
  height: 60px;
  transition: height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 

.faq input[type="checkbox"]:checked + label .faqText {
  max-height: 400px; 
  transition: max-height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type="checkbox"]:not(:checked) + label .faqText {
  max-height: 0px;

  transition: max-height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}  */